extends layout

block content
    header#header
        .ui.page.grid
            .column
                .ui.inverted.main.menu
                    a.item(href='/')= title

    .ui.page.grid
        .column
            h1 Logs

            form.ui.form(method='get')
                .field
                    label Logs for date
                    input.datepicker(type=text, placeholder='Select date', data-dates=dates, name='date', value=selectedDate)

            .ui.items.messages
                each message in messages
                    .ui.item.message
                        .content
                            .header= message.username_nick
                            .meta= message.formatted_time
                            .description
                                p= message.content