extends layout

block content
    header#header
        .ui.page.grid
            .column
                .ui.inverted.main.menu
                    a.item(href='/logs/' + serverId) Logs

    .ui.page.grid
        .column
            h1 Logs

            form.ui.filter.form(method='get')
                .two.fields
                    .field
                        label Logs for date
                        input.datepicker(type=text, placeholder='Select date', data-dates=dates, name='date', value=selectedDate)
                    .field
                        label Channel
                        select.ui.dropdown(name='channel')
                            each channel in channels
                                option(value=channel.id, selected=(channel.id == selectedChannelId))= channel.display

            if messages.length === 0
                .ui.message
                    p No logs to display for this date!
            else
                .ui.items.messages
                    each message in messages
                        .ui.item.message
                            .content
                                .header= message.username_nick
                                .meta= message.formatted_time
                                .description
                                    p= message.content