extends layout

block content
    header#header
        .ui.page.grid
            .column
                .ui.inverted.main.menu
                    a.item(href='/logs/' + serverId) Logs

    .ui.page.grid
        .column
            h1 Logs

            form.ui.filter.form(method='get')
                .three.fields
                    .field
                        label Logs for date
                        input.datepicker(type='text', placeholder='Select date', data-dates=dates, name='date',
                            value=selectedDate, disabled=!!searchTerm)
                    .field
                        label Channel
                        select.ui.dropdown(name='channel')
                            each channel in channels
                                option(value=channel.id, selected=(channel.id == selectedChannelId))= channel.display
                    .field
                        label Search
                        .ui.action.input
                            input(type='text', placeholder='Search text', name='search', value=searchTerm)
                            button.ui.button Search

            if messages.length === 0
                .ui.message
                    p No logs to display for this date!
            else
                .ui.divided.items.messages
                    each message in messages
                        .ui.item.message
                            .content
                                .header= message.username_nick
                                    time(datetime=message.datetime)= message.formatted_time
                                .description
                                    p
                                        span= message.content

                                        if message.attachment_urls
                                            each url in message.attachment_urls
                                                p
                                                    a(href=url, target='_blank')= url